<!--Tab2 Start Personal Info-->
  <div id="tab2" class="tab-pane fade">
    <div class="panel panel-primary" >
    <div class="panel-body">
        <div class="form-group">
          <div class="col-md-4"><label for="fname">First Name (पहिलो नाम  )*</label><input type="text" class="form-control" placeholder=""></div>
            <div class="col-md-4"><label for ="mname">Middle Name (बीचको नाम ) </label><input type="text" class="form-control" placeholder=""></div>
          <div class="col-md-4"><label for ="lname">Last Name (अन्तिम अर्थात् थर) *</label><input type="text" class="form-control" placeholder=""></div>
        </div>
        </div>

        <div class="panel-body">
         <div class="form-group">
          <div class="col-md-3"><label for="fhusband">Husband Name (पति नाम *)</label><input type="text" class="form-control" placeholder=""></div>
          <div class="col-md-3"><label for="fhusband">Father (बाबुको नाम *)</label><input type="text" class="form-control" placeholder=""></div>
            <div class="col-md-3"><label>Father-in-Law </label><input type="text" class="form-control" placeholder=""></div>
          <div class="col-md-3"><label>Grand Father/Grandfather-in-law *</label><input type="text" class="form-control" placeholder=""></div>
        </div>
        </div>

        <div class="panel-body">
        <div class="form-group">
          <div class="col-md-4"><label for ="nomineename">Beneficiary/Nominee Name*</label><input type="text" class="form-control" placeholder=""></div>
          <div class="col-md-4"><label for ="nomineerelation">Beneficiary/Nominee Relation*</label><select name="nomineerelation" class="form-control beta">
                  <option value="H">Husband</option>
                  <option value="F">Father</option>
                  <option value="M">Mother</option>
                  <option value="B">Brother</option>
               </select>
          </div>
        </div>
        </div>

      <div class="panel-body">
        <div class="form-group">
          <div class="col-md-3"><label for="datepicker">Date Of Birth (वि.सं.मा :)*</label><input type="date" class="form-control" placeholder=""></div>
            <div class="col-md-3"><label>Current Age</label><input type="text" class="form-control" placeholder=""></div>			 <div class="col-md-3"><label class="control-label">Gender (लिङ्ग)</label>
            <select name="gender" class="form-control beta">
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="O">Others</option>
             </select>
         </div>
         <div class="col-md-3"><label class="control-label">Martial Status (वैवाहिक स्थिति )</label>
            <select name="gender" class="form-control beta">
                <option value="M">Married</option>
                <option value="UM">Unmarried</option>
                <option value="W">Widow</option>
             </select>
        </div>
       </div>
    </div>

      <div class="panel-body">
        <div class="form-group">
          <div class="col-md-3"><label class="control-label">Religion (धर्म)</label>
              <select name="gender" class="form-control beta">
                  <option value="H">Hindu</option>
                  <option value="IS">Islam</option>
                  <option value="B">Buddhist</option>
                  <option value="C">Christian</option>
               </select>
          </div>
          <div class="col-md-3"><label for ="datepicker">Member Registration Date*</label><input type="date" class="form-control" placeholder=""></div>
        <div class="col-md-3"><label>Ethnic Group (समूह/वर्ग)*</label><select name="district" class="form-control beta">
                <option value="K">Bhahimin</option>
                <option value="B">Bhaktapur</option>
                <option value="L">Lalitpur</option>
             </select>
          </div>

        <div class="col-md-3"><label>Caste (जात )*</label><select name="district" class="form-control beta">
                <option value="K">Brahimin</option>
                <option value="B">Sudra</option>
                <option value="L">Kasyap</option>
             </select>
           </div>
          </div>
        </div>

         <div class="panel-body">
        <div class="form-group">
          <div class="col-md-3"><label>Nationality  *</label><select name="Nationality" class="form-control beta">
                <option value="N">Neplese</option>
                <option value="O">Others</option>
             </select>
              </div>
              <div class="col-md-3"><label>Email Address (ईमेल )</label><input type="email" class="form-control" placeholder=""></div>
              </div>
      </div>


      <div class="panel-body">
      <h4>Citizenship (नागरिकता)</h4>
      <div class="form-group">
        <div class="col-md-3"><label>Citizenship No. (नागरिकता नं.)*</label><input type="text" class="form-control" placeholder=""></div>
        <div class="col-md-3"><label>Issued From (जारी गर्ने जिल्ला) *</label><select name="district" class="form-control beta">
                <option value="K">Kathmandu</option>
                <option value="B">Bhaktapur</option>
                <option value="L">Lalitpur</option>
             </select></div>
        <div class="col-md-3"><label>Issued Date (जारी मिति) *</label><input type="date" class="form-control"></div>
        <div class="col-md-2"><span class="btn btn-default btn-file">Citizenship Photo (फोटो)<input type="file"></span></div>
      </div>
      </div>
      <!--Education panel Ending -->
       <div class="panel-body">
         <h4>Education Qualification (शैक्षिक योग्यता)</h4>
            <div class="form-group">
       <div class="col-md-3"><label>General </label><select name="Education" class="form-control beta">
                <option value="N">Masters</option>
                <option value="O">Bachlors</option>
             </select></div>
            <div class="col-md-3"><label>Technical </label><select name="Education" class="form-control beta">
                <option value="M">ME/MSC/MBA/MSCIT</option>
                <option value="O">BE/BBA/BSCCSIT/BSCIT</option>
                <option value="O">IE</option>
             </select>
        </div>
        </div>
        </div><!--Education panel Ending -->

       <div class="panel-body">
      <h4>Training/Vocational Skills (तालिम)</h4>
      <div class="form-group">
        <div class="col-md-3"><label>Name of Institute (तालिम दिने संस्था)</label><input type="text" class="form-control" placeholder="Name of Institute"></div>
        <div class="col-md-3"><label>Training Name (तालिम)</label><input type="text" class="form-control" placeholder="Training Name"></div>
        <div class="col-md-3"><label>Issued Period (अवधि )</label><input type="text" class="form-control" placeholder="Duration of Training"></div>
        <div class="col-md-2"><span class="btn btn-default btn-file">Certificate Photo (फोटो) <input type="file"></span></div>
      </div>
      </div>

       <div class="panel-body">
      <h4>Passport</h4>
      <div class="form-group">
        <div class="col-md-3"><label>Passport No.*</label><input type="text" class="form-control" placeholder="Passport No."></div>
        <div class="col-md-3"><label>Issued From (जारी गर्ने जिल्ला) *</label><select name="district" class="form-control beta">
                <option value="K">Kathmandu</option>
                <option value="B">Bhaktapur</option>
                <option value="L">Lalitpur</option>
             </select></div>
        <div class="col-md-3"><label>Issued Date (जारी मिति)*</label><input type="date" class="form-control"></div>
        <div class="col-md-2"><span class="btn btn-default btn-file">Passport Photo (फोटो)<input type="file"></span></div>
      </div>
      </div>

       <div class="panel-body">
      <h4>Driving License</h4>
      <div class="form-group">
        <div class="col-md-3"><label>License No.*</label><input type="text" class="form-control" placeholder="License No."></div>
        <div class="col-md-3"><label>Issued From (जारी गर्ने जिल्ला) *</label><select name="district" class="form-control beta">
                <option value="K">Kathmandu</option>
                <option value="B">Bhaktapur</option>
                <option value="L">Lalitpur</option>
             </select></div>
        <div class="col-md-3"><label>Issued Date (जारी मिति)*</label><input type="date" class="form-control"></div>
        <div class="col-md-2"><span class="btn btn-default btn-file">Driving License Photo (फोटो)<input type="file"></span></div>
      </div>
      </div>

      <div class="panel-body">
      <h4>Marriage Certificate</h4>
      <div class="form-group">
        <div class="col-md-3"><label>Registration No.*</label><input type="text" class="form-control" placeholder="Registration No."></div>
        <div class="col-md-3"><label>Issued From (जारी गर्ने जिल्ला) *</label><select name="district" class="form-control beta">
                <option value="K">Kathmandu</option>
                <option value="B">Bhaktapur</option>
                <option value="L">Lalitpur</option>
             </select></div>
        <div class="col-md-3"><label>Issued Date (जारी मिति)*</label><input type="date" class="form-control"></div>
        <div class="col-md-2"><span class="btn btn-default btn-file">Marriage Certificate Photo (फोटो)<input type="file"></span></div>
      </div>
      </div>

      <div class="panel-body">
      <h4>Birth Certificate</h4>
      <div class="form-group">
        <div class="col-md-3"><label>Registration No.*</label><input type="text" class="form-control" placeholder=""></div>
        <div class="col-md-3"><label>Issued From (जारी गर्ने जिल्ला) *</label><select name="district" class="form-control beta">
                <option value="K">Kathmandu</option>
                <option value="B">Bhaktapur</option>
                <option value="L">Lalitpur</option>
             </select></div>
        <div class="col-md-3"><label>Issued Date (जारी मिति) *</label><input type="date" class="form-control"></div>
        <div class="col-md-2"><span class="btn btn-default btn-file">Birth Certification Photo (फोटो)<input type="file"></span></div>
      </div>
      </div>

      <div class="panel-body">
      <h4>Electricity/Water Bill</h4>
      <div class="form-group">
        <div class="col-md-3"><label>Bill No.*</label><input type="text" class="form-control" placeholder="BillNo"></div>
        <div class="col-md-3"><label>Issued From (जारी गर्ने जिल्ला)*</label><select name="district" class="form-control beta">
                <option value="K">Kathmandu</option>
                <option value="B">Bhaktapur</option>
                <option value="L">Lalitpur</option>
             </select></div>
        <div class="col-md-3"><label>Issued Date (जारी मिति) *</label><input type="date" class="form-control"></div>
        <div class="col-md-2"><span class="btn btn-default btn-file">Electricity/Water Photo (फोटो) <input type="file"></span></div>
      </div>
      </div>

      <div class="panel-body">
      <div class="form-group">
      <div class="col-md-3"><span class="btn btn-default btn-file">Digital Finger Print (फोटो)<input type="file"></span></div>
      <div class="col-md-3"><span class="btn btn-default btn-file">Digital Signature (फोटो)<input type="file"></span></div>
      </div>
      </div>

      <div class="panel-body">
    <div class="form-group">
    <div class="col-md-3"><label for="underregularmedication">Under Regular Medication*</label>
        <label class="radio-inline"><input type="radio" name="no">No</label>
        <label class="radio-inline"><input type="radio" name="yes">Yes (specify)</label>
        <input type="text"class="form-control">
    </div>

    <div class="col-md-3"><label for="involvementonOtherOrganization">Involvement on Other Banks/Institutions</label><select name="otherbaks" class="form-control beta">
                <option value="CO">Co-operative</option>
                <option value="M">Micro-Finance</option>
                <option value="B">Bank</option>
             </select>
             </div>
    </div>
    </div>
          <div class="panel-footer">
            <button type="button" class="btn btn-primary btnPrevious">Back</button>
            <button type="button" class="btn btn-primary btnNext" style="float: right;">Next</button>
          </div>
      </div>

  </div> <!--Tab2 Ending -->
