{% load filters %} <!-- loading custom filters from core.templatetags -->
{% if branch_info_form %}
<div id="tab1" class="tab-pane fade in active">
  <div class="panel panel-primary" >
    <div class="panel-body" >
       <div class="btn-group">
         {{branch_info_form.branch.errors}}
        <div>
          {{ branch_info_form.branch | addclass:'form-control' }}
        </div>
       </div>
       <hr>
       <div class="form-group">
           <div class="col-md-3">
             <label>Center Code</label>
             {{branch_info_form.center_code.errors}}
             {{branch_info_form.center_code | addclass:'form-control'}}
           </div>
         <div class="col-md-3">
           <label>Center Name</label>
           {{branch_info_form.center_code.errors}}
           {{branch_info_form.center_name | addclass:'form-control'}}
         </div>
           <div class="col-md-3">
             <label>Group Code</label>
             {{branch_info_form.group_code.errors}}
             {{branch_info_form.group_code | addclass:'form-control'}}
           </div>
         <div class="col-md-3">
           <label>Member Code</label>
           {{branch_info_form.member_code.errors}}
           {{branch_info_form.member_code | addclass:'form-control'}}
         </div>
      </div>
   </div><!-- end panel body -->
 </div><!-- end panel panel-primary -->
</div><!-- end tab1 -->
{% endif %}
