<div id="tab5" class="tab-pane fade">
   <div class="panel panel-primary" >
      <div class="panel-body">
      <h4>Business and Property Profile:</h4>
        <div class="form-group">
            <table class="table table-bordered">
              <thead >
                  <tr>
                      <th>S.N.</th>
                      <th>Category</th>
                      <th>Initial Capital</th>
                      <th>Average Stock</th>
                      <th>No. of Years/Est.Date</th>
                      <th>Average TurnOver/Monthly</th>
                      <th>Vat No./Pan No.</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td><select name="category" class="form-control beta">
                        <option value="agriculture">Agriculture</option>
                        <option value="industry">Industry</option>
                        <option value="trading">Trading</option>
                        <option value="sercvice">Services</option>
                    </select>
                  </td>
                      <td><input type="text" class="form-control"></td>
                      <td><input type="text" class="form-control"></td>
                  <td><input type="date" class="form-control" id="datepicker"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                </tr>
                 <tr>
                      <td>2</td>
                      <td><select name="category" class="form-control beta">
                        <option value="agriculture">Agriculture</option>
                        <option value="industry">Industry</option>
                        <option value="trading">Trading</option>
                        <option value="sercvice">Services</option>
                    </select>
                  </td>
                      <td><input type="text" class="form-control"></td>
                      <td><input type="text" class="form-control"></td>
                  <td><input type="date" class="form-control" id="datepicker"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                </tr>
                 <tr>
                     <td>3</td>
                      <td><select name="category" class="form-control beta">
                        <option value="agriculture">Agriculture</option>
                        <option value="industry">Industry</option>
                        <option value="trading">Trading</option>
                        <option value="sercvice">Services</option>
                    </select>
                  </td>
                      <td><input type="text" class="form-control"></td>
                      <td><input type="text" class="form-control"></td>
                  <td><input type="date" class="form-control" id="datepicker"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                </tr>

              </tbody>
            </table>
        </div>
      </div>

      <div class="panel-body">
      <h4>Other Assets:</h4>
        <div class="form-group">
          <div class="col-md-4"><label>Bank Balance</label><input type="text" class="form-control" id="centercode" placeholder="Bank Balance"></div>
          <div class="col-md-4"><label>Ornaments</label><input type="text" class="form-control" id="centercode" placeholder="Ornaments"></div>
          <div class="col-md-4"><label>Total Value</label><input type="text" class="form-control" id="centercode" placeholder="Total Value">
          </div>
        </div>
      </div>

      <div class="panel-body">
      <h4>Vechicle</h4>
        <div class="form-group">
          <table class="table table-bordered">
              <thead >
                  <tr>
                      <th>S.N.</th>
                      <th>Particulars</th>
                      <th>Number of Vechicle</th>
                      <th>Total Value</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td><select name="Vechicle" class="form-control beta">
                        <option value="Car">Car</option>
                        <option value="Motorcycle">Motorcycle</option>
                        <option value="Bycle">Bycle</option>
                        <option value="Scooter">Scooter</option>
                        <option value="Oters">Others</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  </tr>
                   <tr>
                      <td>2</td>
                      <td><select name="Vechicle" class="form-control beta">
                        <option value="Car">Car</option>
                        <option value="Motorcycle">Motorcycle</option>
                        <option value="Bycle">Bycle</option>
                        <option value="Scooter">Scooter</option>
                        <option value="Oters">Others</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td><select name="Vechicle" class="form-control beta">
                        <option value="Car">Car</option>
                        <option value="Motorcycle">Motorcycle</option>
                        <option value="Bycle">Bycle</option>
                        <option value="Scooter">Scooter</option>
                        <option value="Oters">Others</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  </tr>
              </tbody>
          </table>
       </div>
     </div>

     <div class="panel-body">
      <h4>Electronics</h4>
        <div class="form-group">
          <table class="table table-bordered">
              <thead >
                  <tr>
                      <th>S.N.</th>
                      <th>Particulars</th>
                      <th>Number of Electronics Items</th>
                      <th>Total Value</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td><select name="Vechicle" class="form-control beta">
                        <option value="television">Television</option>
                        <option value="refri">Refrigerator</option>
                        <option value="mobile">Mobile</option>
                        <option value="others">Others</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  </tr>
                   <tr>
                      <td>2</td>
                      <td><select name="Vechicle" class="form-control beta">
                        <option value="television">Television</option>
                        <option value="refri">Refrigerator</option>
                        <option value="mobile">Mobile</option>
                        <option value="others">Others</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td><select name="Vechicle" class="form-control beta">
                        <option value="television">Television</option>
                        <option value="refri">Refrigerator</option>
                        <option value="mobile">Mobile</option>
                        <option value="others">Others</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  </tr>
              </tbody>
          </table>
       </div>
     </div>

     <div class="panel-body">
      <h4>Furniture</h4>
        <div class="form-group">
          <table class="table table-bordered">
              <thead >
                  <tr>
                      <th>S.N.</th>
                      <th>Particulars</th>
                      <th>Number of Furniture Items</th>
                      <th>Total Value</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  </tr>
              </tbody>
          </table>
       </div>
     </div>

      <div class="panel-body">
      <h4>Loan Details</h4>
        <div class="form-group">
          <table class="table table-bordered">
              <thead >
                  <tr>
                      <th>Loan</th>
                      <th>Amount</th>
                      <th>Interest</th>
                      <th>Remaining</th>
                      <th>Name</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Borrow</td>
                      <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                      <td>Lend</td>
                      <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  </tr>
              </tbody>
          </table>
       </div>
     </div>

      <div class="panel-body">
      <h4>Assets on Collateral</h4>
        <div class="form-group">
          <table class="table table-bordered">
              <thead >
                  <tr>
                      <th>S.N.</th>
                      <th>Particulars</th>
                      <th>Total Value</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  </tr>
              </tbody>
          </table>
       </div>
     </div>

      <div class="panel-footer">
        <button type="button" class="btn btn-primary btnPrevious">Back</button>
        <button type="button" class="btn btn-primary btnNext" style="float: right;">Next</button>
      </div>
   </div>
</div>
