<div id="tab6" class="tab-pane fade">
   <div class="panel panel-primary" >
      <div class="panel-body">
        <div class="form-group">
          <table class="table table-bordered">
              <thead >
                  <tr>
                      <th>S.N.</th>
                      <th>House</th>
                      <th>No.of House</th>
                      <th>Roof of House</th>
                      <th>Number of Rooms</th>
                      <th>House Covered Area</th>
                      <th>Materials used on House Building</th>
                      <th>Total Value</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td>Pakki</td>
                      <td><input type="text" class="form-control"></td>
                      <td>
                        <select name="RoofHouse" class="form-control beta">
                        <option value="Tile">Tile</option>
                        <option value="Tin">Tin</option>
                        <option value="Cemented">Cemented</option>
                        <option value="Bush">Bush</option>
                        <option value="Others">Others</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                   <td>
                        <select name="materialhouse" class="form-control beta">
                        <option value="Brick">Brick</option>
                        <option value="Bamboo">Bamboo</option>
                        <option value="Stone">Stone</option>
                        <option value="Cley">Cley</option>
                        <option value="Others">Others</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control"></td>
                  </tr>

                   <tr>
                      <td>2</td>
                      <td>Kachi</td>
                      <td><input type="text" class="form-control"></td>
                      <td>
                        <select name="RoofHouse" class="form-control beta">
                        <option value="Tile">Tile</option>
                        <option value="Tin">Tin</option>
                        <option value="Cemented">Cemented</option>
                        <option value="Bush">Bush</option>
                        <option value="Others">Others</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                   <td>
                        <select name="materialhouse" class="form-control beta">
                        <option value="Brick">Brick</option>
                        <option value="Bamboo">Bamboo</option>
                        <option value="Stone">Stone</option>
                        <option value="Cley">Cley</option>
                        <option value="Others">Others</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control"></td>
                  </tr>

                   <tr>
                      <td>3</td>
                      <td>Kath</td>
                      <td><input type="text" class="form-control"></td>
                      <td>
                        <select name="RoofHouse" class="form-control beta">
                        <option value="Tile">Tile</option>
                        <option value="Tin">Tin</option>
                        <option value="Cemented">Cemented</option>
                        <option value="Bush">Bush</option>
                        <option value="Others">Others</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                   <td>
                        <select name="materialhouse" class="form-control beta">
                        <option value="Brick">Brick</option>
                        <option value="Bamboo">Bamboo</option>
                        <option value="Stone">Stone</option>
                        <option value="Cley">Cley</option>
                        <option value="Others">Others</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control"></td>
                  </tr>

                   <tr>
                      <td>4</td>
                      <td>Bans</td>
                      <td><input type="text" class="form-control"></td>
                      <td>
                        <select name="RoofHouse" class="form-control beta">
                        <option value="Tile">Tile</option>
                        <option value="Tin">Tin</option>
                        <option value="Cemented">Cemented</option>
                        <option value="Bush">Bush</option>
                        <option value="Others">Others</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                   <td>
                        <select name="materialhouse" class="form-control beta">
                        <option value="Brick">Brick</option>
                        <option value="Bamboo">Bamboo</option>
                        <option value="Stone">Stone</option>
                        <option value="Cley">Cley</option>
                        <option value="Others">Others</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control"></td>
                  </tr>

                   <tr>
                      <td>5</td>
                      <td>Fuss</td>
                      <td><input type="text" class="form-control"></td>
                      <td>
                        <select name="RoofHouse" class="form-control beta">
                        <option value="Tile">Tile</option>
                        <option value="Tin">Tin</option>
                        <option value="Cemented">Cemented</option>
                        <option value="Bush">Bush</option>
                        <option value="Others">Others</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                   <td>
                        <select name="materialhouse" class="form-control beta">
                        <option value="Brick">Brick</option>
                        <option value="Bamboo">Bamboo</option>
                        <option value="Stone">Stone</option>
                        <option value="Cley">Cley</option>
                        <option value="Others">Others</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control"></td>
                  </tr>

                    <tr>
                      <td>6</td>
                      <td>Others</td>
                      <td><input type="text" class="form-control"></td>
                      <td>
                        <select name="RoofHouse" class="form-control beta">
                        <option value="Tile">Tile</option>
                        <option value="Tin">Tin</option>
                        <option value="Cemented">Cemented</option>
                        <option value="Bush">Bush</option>
                        <option value="Others">Others</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                   <td>
                        <select name="materialhouse" class="form-control beta">
                        <option value="Brick">Brick</option>
                        <option value="Bamboo">Bamboo</option>
                        <option value="Stone">Stone</option>
                        <option value="Cley">Cley</option>
                        <option value="Others">Others</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control"></td>
                  </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="panel-footer">
        <button type="button" class="btn btn-primary btnPrevious">Back</button>
        <button type="button" class="btn btn-primary btnNext" style="float: right;">Next</button>
      </div>
   </div>
</div>
