<div id="tab4" class="tab-pane fade">
   <div class="panel panel-primary" >
      <h4>Spouce/Husband National Identity Card:</h4>
      <div class="panel-body">
       <h4>Citizenship (नागरिकता )</h4>
        <div class="form-group">
          <div class="col-md-3"><label>Citizenship No.(नागरिकता नं.)*</label><input type="text" class="form-control" placeholder="Citizenship No"></div>
          <div class="col-md-3"><label>Issued From (जारी गर्ने जिल्ला)*</label><select name="district" class="form-control beta">
                  <option value="K">Kathmandu</option>
                  <option value="B">Bhaktapur</option>
                  <option value="L">Lalitpur</option>
               </select></div>
          <div class="col-md-3"><label>Issued Date (जारी मिति )*</label><input type="date" class="form-control"></div>
          <div class="col-md-2"><span class="btn btn-default btn-file">Citizenship Photo <input type="file"></span></div>
        </div>
      </div>

      <div class="panel-body">
       <h4>Passport</h4>
        <div class="form-group">
          <div class="col-md-3"><label>Passport No.*</label><input type="text" class="form-control" placeholder="Passport No."></div>
          <div class="col-md-3"><label>Issued From (जारी गर्ने जिल्ला) *</label><select name="district" class="form-control beta">
                  <option value="K">Kathmandu</option>
                  <option value="B">Bhaktapur</option>
                  <option value="L">Lalitpur</option>
               </select></div>
          <div class="col-md-3"><label>Issued Date (जारी मिति )*</label><input type="date" class="form-control"></div>
          <div class="col-md-2"><span class="btn btn-default btn-file">Passport Photo <input type="file"></span></div>
        </div>
      </div>

      <div class="panel-body">
       <h4>Driving License</h4>
        <div class="form-group">
          <div class="col-md-3"><label>License No.*</label><input type="text" class="form-control" placeholder No.="Driving License"></div>
          <div class="col-md-3"><label>Issued From (जारी गर्ने जिल्ला)*</label><select name="district" class="form-control beta">
                  <option value="K">Kathmandu</option>
                  <option value="B">Bhaktapur</option>
                  <option value="L">Lalitpur</option>
               </select></div>
          <div class="col-md-3"><label>Issued Date (जारी मिति )*</label><input type="date" class="form-control"></div>
          <div class="col-md-2"><span class="btn btn-default btn-file">Driving License Photo <input type="file"></span></div>
        </div>
    </div>

    <div class="panel-body">
       <h4>Spouce Occupation</h4>
        <div class="form-group">
          <table class="table table-bordered">
              <thead >
                  <tr>
                      <th>Name of Business</th>
                      <th>Agriculture</th>
                      <th>Trading</th>
                      <th>Industry</th>
                      <th>Services</th>
                      <th>Foreign Employment</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>Name</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <td>Income</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
            </tbody>
          </table>
        </div>
    </div>

    <div class="col-md-6"><div class="panel-body">
      <h4>Member Children</h4>
        <div class="form-group">
          <div class="col-md-3"><label>No. of Boys</label><select name="children" class="form-control beta">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
               </select>
            </div>
          <div class="col-md-3"><label>No. of Girls</label><select name="children" class="form-control beta">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
               </select>
            </div>
        </div>
     </div>
   </div>
    <div class="panel-body">
       <h4>Family Type</h4>
        <div class="form-group">
          <label class="radio-inline"><input type="radio" name="joint">Joint</label>
        <label class="radio-inline"><input type="radio" name="nuclear">Nuclear</label>
        </div>
    </div>

      <div class="panel-body">
        <div class="form-group">
        <h4>Details of Family Member</h4>
          <table class="table table-bordered">
              <thead >
                  <tr>
                      <th>S.N.</th>
                      <th>Relation</th>
                      <th>Family Member Full Name</th>
                      <th>Age</th>
                      <th>Gender</th>
                      <th>Main Occupation</th>
                      <th>Education</th>
                      <th>Monthly Income</th>
                      <th>Citizenship No.</th>
                      <th>Mobile No.</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td>Spouce</td>
                      <td><input type="text" class="form-control"></td>
                      <td><input type="text" class="form-control"></td>
                      <td><select name="Gender" class="form-control beta">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="others">Others</option>
                    </select>
                  </td>
                   <td><input type="text" class="form-control"></td>
                   <td><select name="Education" class="form-control beta">
                        <option value="masters">Masters</option>
                        <option value="bachelors">Bachelors</option>
                        <option value="intermediate">Intermediate/+2</option>
                        <option value="slc">SLC</option>
                        <option value="eightpass">8 Class Pass</option>
                        <option value="fivepass">5 Class Pass</option>
                        <option value="underfive">Under 5</option>
                        <option value="literate">literate</option>
                        <option value="illiterate">illiterate</option>
                    </select>
                   </td>
                   <td><input type="text" class="form-control"></td>
                   <td><input type="text" class="form-control"></td>
                   <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                      <td>2</td>
                      <td>Father (बाबुको नाम)</td>
                      <td><input type="text" class="form-control"></td>
                      <td><input type="text" class="form-control"></td>
                      <td><select name="Gender" class="form-control beta">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="others">Others</option>
                    </select>
                  </td>
                   <td><input type="text" class="form-control"></td>
                   <td><select name="Education" class="form-control beta">
                        <option value="masters">Masters</option>
                        <option value="bachelors">Bachelors</option>
                        <option value="intermediate">Intermediate/+2</option>
                        <option value="slc">SLC</option>
                        <option value="eightpass">8 Class Pass</option>
                        <option value="fivepass">5 Class Pass</option>
                        <option value="underfive">Under 5</option>
                        <option value="literate">literate</option>
                        <option value="illiterate">illiterate</option>
                    </select>
                   </td>
                   <td><input type="text" class="form-control"></td>
                   <td><input type="text" class="form-control"></td>
                   <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                      <td>3</td>
                      <td>Mother</td>
                      <td><input type="text" class="form-control"></td>
                      <td><input type="text" class="form-control"></td>
                      <td><select name="Gender" class="form-control beta">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="others">Others</option>
                    </select>
                  </td>
                   <td><input type="text" class="form-control"></td>
                   <td><select name="Education" class="form-control beta">
                        <option value="masters">Masters</option>
                        <option value="bachelors">Bachelors</option>
                        <option value="intermediate">Intermediate/+2</option>
                        <option value="slc">SLC</option>
                        <option value="eightpass">8 Class Pass</option>
                        <option value="fivepass">5 Class Pass</option>
                        <option value="underfive">Under 5</option>
                        <option value="literate">literate</option>
                        <option value="illiterate">illiterate</option>
                    </select>
                   </td>
                   <td><input type="text" class="form-control"></td>
                   <td><input type="text" class="form-control"></td>
                   <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                      <td>4</td>
                      <td>Father-in-Law</td>
                      <td><input type="text" class="form-control"></td>
                      <td><input type="text" class="form-control"></td>
                      <td><select name="Gender" class="form-control beta">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="others">Others</option>
                    </select>
                  </td>
                   <td><input type="text" class="form-control"></td>
                   <td><select name="Education" class="form-control beta">
                        <option value="masters">Masters</option>
                        <option value="bachelors">Bachelors</option>
                        <option value="intermediate">Intermediate/+2</option>
                        <option value="slc">SLC</option>
                        <option value="eightpass">8 Class Pass</option>
                        <option value="fivepass">5 Class Pass</option>
                        <option value="underfive">Under 5</option>
                        <option value="literate">literate</option>
                        <option value="illiterate">illiterate</option>
                    </select>
                   </td>
                   <td><input type="text" class="form-control"></td>
                   <td><input type="text" class="form-control"></td>
                   <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                      <td>5</td>
                      <td>GrandFather/GrandFather-in-Law</td>
                      <td><input type="text" class="form-control"></td>
                      <td><input type="text" class="form-control"></td>
                      <td><select name="Gender" class="form-control beta">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="others">Others</option>
                    </select>
                  </td>
                   <td><input type="text" class="form-control"></td>
                   <td><select name="Education" class="form-control beta">
                        <option value="masters">Masters</option>
                        <option value="bachelors">Bachelors</option>
                        <option value="intermediate">Intermediate/+2</option>
                        <option value="slc">SLC</option>
                        <option value="eightpass">8 Class Pass</option>
                        <option value="fivepass">5 Class Pass</option>
                        <option value="underfive">Under 5</option>
                        <option value="literate">literate</option>
                        <option value="illiterate">illiterate</option>
                    </select>
                   </td>
                   <td><input type="text" class="form-control"></td>
                   <td><input type="text" class="form-control"></td>
                   <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                      <td>6</td>
                      <td>Son 1</td>
                      <td><input type="text" class="form-control"></td>
                      <td><input type="text" class="form-control"></td>
                      <td><select name="Gender" class="form-control beta">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="others">Others</option>
                    </select>
                  </td>
                   <td><input type="text" class="form-control"></td>
                   <td><select name="Education" class="form-control beta">
                        <option value="masters">Masters</option>
                        <option value="bachelors">Bachelors</option>
                        <option value="intermediate">Intermediate/+2</option>
                        <option value="slc">SLC</option>
                        <option value="eightpass">8 Class Pass</option>
                        <option value="fivepass">5 Class Pass</option>
                        <option value="underfive">Under 5</option>
                        <option value="literate">literate</option>
                        <option value="illiterate">illiterate</option>
                    </select>
                   </td>
                   <td><input type="text" class="form-control"></td>
                   <td><input type="text" class="form-control"></td>
                   <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                      <td>7</td>
                      <td>Son 2</td>
                      <td><input type="text" class="form-control"></td>
                      <td><input type="text" class="form-control"></td>
                      <td><select name="Gender" class="form-control beta">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="others">Others</option>
                    </select>
                  </td>
                   <td><input type="text" class="form-control"></td>
                   <td><select name="Education" class="form-control beta">
                        <option value="masters">Masters</option>
                        <option value="bachelors">Bachelors</option>
                        <option value="intermediate">Intermediate/+2</option>
                        <option value="slc">SLC</option>
                        <option value="eightpass">8 Class Pass</option>
                        <option value="fivepass">5 Class Pass</option>
                        <option value="underfive">Under 5</option>
                        <option value="literate">literate</option>
                        <option value="illiterate">illiterate</option>
                    </select>
                   </td>
                   <td><input type="text" class="form-control"></td>
                   <td><input type="text" class="form-control"></td>
                   <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                      <td>8</td>
                      <td>Daughter 1</td>
                      <td><input type="text" class="form-control"></td>
                      <td><input type="text" class="form-control"></td>
                      <td><select name="Gender" class="form-control beta">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="others">Others</option>
                    </select>
                  </td>
                   <td><input type="text" class="form-control"></td>
                   <td><select name="Education" class="form-control beta">
                        <option value="masters">Masters</option>
                        <option value="bachelors">Bachelors</option>
                        <option value="intermediate">Intermediate/+2</option>
                        <option value="slc">SLC</option>
                        <option value="eightpass">8 Class Pass</option>
                        <option value="fivepass">5 Class Pass</option>
                        <option value="underfive">Under 5</option>
                        <option value="literate">literate</option>
                        <option value="illiterate">illiterate</option>
                    </select>
                   </td>
                   <td><input type="text" class="form-control"></td>
                   <td><input type="text" class="form-control"></td>
                   <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                      <td>9</td>
                      <td>Daughter 2</td>
                      <td><input type="text" class="form-control"></td>
                      <td><input type="text" class="form-control"></td>
                      <td><select name="Gender" class="form-control beta">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="others">Others</option>
                    </select>
                  </td>
                   <td><input type="text" class="form-control"></td>
                   <td><select name="Education" class="form-control beta">
                        <option value="masters">Masters</option>
                        <option value="bachelors">Bachelors</option>
                        <option value="intermediate">Intermediate/+2</option>
                        <option value="slc">SLC</option>
                        <option value="eightpass">8 Class Pass</option>
                        <option value="fivepass">5 Class Pass</option>
                        <option value="underfive">Under 5</option>
                        <option value="literate">literate</option>
                        <option value="illiterate">illiterate</option>
                    </select>
                   </td>
                   <td><input type="text" class="form-control"></td>
                   <td><input type="text" class="form-control"></td>
                   <td><input type="text" class="form-control"></td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>

      <div class="panel-body">
      <div class="form-group">
        <div class="col-md-4"><label for="underregularmedication">Self/ If any of the family members had been member in past</label>
            <label class="radio-inline"><input type="radio" name="no">No</label>
            <label class="radio-inline"><input type="radio" name="yes">Yes (specify)</label>
            <input type="text"class="form-control">
        </div>
        <div class="col-md-4"><label for="underregularmedication">Self/ If any of the family members associated to similar types of institution</label>
            <label class="radio-inline"><input type="radio" name="no">No</label>
            <label class="radio-inline"><input type="radio" name="yes">Yes (specify)</label>
            <input type="text"class="form-control">
        </div>
        <div class="col-md-4"><label for="underregularmedication">Self/ If any of the family members victim of disease /medication details</label>
            <label class="radio-inline"><input type="radio" name="no">No</label>
            <label class="radio-inline"><input type="radio" name="yes">Yes (specify)</label>
            <input type="text"class="form-control">
        </div>
      </div>
    </div>

        <div class="panel-footer">
          <button type="button" class="btn btn-primary btnPrevious">Back</button>
          <button type="button" class="btn btn-primary btnNext" style="float: right;">Next</button>
        </div>
     </div>
</div> 
