<div id="tab8" class="tab-pane fade">
   <div class="panel panel-primary" >
      <div class="panel-body">
        <div class="form-group">
            <table class="table table-bordered">
              <thead >
                  <tr>
                      <th>S.N.</th>
                      <th>Land Category</th>
                      <th>Land Type</th>
                      <th>Land Measurement</th>
                      <th>Total Value</th>
                      <th>Major Crops</th>
                      <th>Production Crops Volume</th>
                      <th>Average Income (Monthly)</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td>Household Land</td>
                      <td><select name="LandType" class="form-control beta">
                        <option value="ailani">Ailani</option>
                        <option value="adhiya">Adhiya</option>
                        <option value="contract">Contract(Hunda)</option>
                        <option value="others">Others</option>
                    </select>
                  </td>
                      <td><div class="col-md-6"><input type="text" class="form-control"></div>
                        <div class="col-md-6"><select name="LandMeasurement" class="form-control beta">
                        <option value="bigha">Bigha</option>
                        <option value="ropani">Ropani</option>
                        <option value="squareft">Square Ft.</option>
                    </select></div>
                      </td>
                      <td><input type="text" class="form-control"></td>
                      <td>
                        <select name="MajorCrops" class="form-control beta">
                        <option value="paddy">Paddy</option>
                        <option value="wheat">Wheat</option>
                        <option value="coffee">Coffee</option>
                        <option value="maize">Maize</option>
                        <option value="millet">Millet</option>
                        <option value="barely">Barley</option>
                        <option value="sugarcane">Sugarcane</option>
                        <option value="tobacco">Tobacco</option>
                        <option value="Others">Others</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  </tr>

                  <tr>
                      <td>2</td>
                      <td>Farming Land</td>
                      <td><select name="LandType" class="form-control beta">
                        <option value="ailani">Ailani</option>
                        <option value="adhiya">Adhiya</option>
                        <option value="contract">Contract(Hunda)</option>
                        <option value="others">Others</option>
                    </select>
                  </td>
                      <td><div class="col-md-6"><input type="text" class="form-control"></div>
                        <div class="col-md-6"><select name="LandMeasurement" class="form-control beta">
                        <option value="bigha">Bigha</option>
                        <option value="ropani">Ropani</option>
                        <option value="squareft">Square Ft.</option>
                    </select></div>
                      </td>
                      <td><input type="text" class="form-control"></td>
                      <td>
                        <select name="MajorCrops" class="form-control beta">
                        <option value="paddy">Paddy</option>
                        <option value="wheat">Wheat</option>
                        <option value="coffee">Coffee</option>
                        <option value="maize">Maize</option>
                        <option value="millet">Millet</option>
                        <option value="barely">Barley</option>
                        <option value="sugarcane">Sugarcane</option>
                        <option value="tobacco">Tobacco</option>
                        <option value="Others">Others</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  </tr>

                  <tr>
                      <td>3</td>
                      <td>Adhiya Land (Borrowed)</td>
                      <td><select name="LandType" class="form-control beta">
                        <option value="ailani">Ailani</option>
                        <option value="adhiya">Adhiya</option>
                        <option value="contract">Contract(Hunda)</option>
                        <option value="others">Others</option>
                    </select>
                  </td>
                      <td><div class="col-md-6"><input type="text" class="form-control"></div>
                        <div class="col-md-6"><select name="LandMeasurement" class="form-control beta">
                        <option value="bigha">Bigha</option>
                        <option value="ropani">Ropani</option>
                        <option value="squareft">Square Ft.</option>
                    </select></div>
                      </td>
                      <td><input type="text" class="form-control"></td>
                      <td>
                        <select name="MajorCrops" class="form-control beta">
                        <option value="paddy">Paddy</option>
                        <option value="wheat">Wheat</option>
                        <option value="coffee">Coffee</option>
                        <option value="maize">Maize</option>
                        <option value="millet">Millet</option>
                        <option value="barely">Barley</option>
                        <option value="sugarcane">Sugarcane</option>
                        <option value="tobacco">Tobacco</option>
                        <option value="Others">Others</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  </tr>

                  <tr>
                      <td>4</td>
                      <td>Adhiya Land (Offered)</td>
                      <td><select name="LandType" class="form-control beta">
                        <option value="ailani">Ailani</option>
                        <option value="adhiya">Adhiya</option>
                        <option value="contract">Contract(Hunda)</option>
                        <option value="others">Others</option>
                    </select>
                  </td>
                      <td><div class="col-md-6"><input type="text" class="form-control"></div>
                        <div class="col-md-6"><select name="LandMeasurement" class="form-control beta">
                        <option value="bigha">Bigha</option>
                        <option value="ropani">Ropani</option>
                        <option value="squareft">Square Ft.</option>
                    </select></div>
                      </td>
                      <td><input type="text" class="form-control"></td>
                      <td>
                        <select name="MajorCrops" class="form-control beta">
                        <option value="paddy">Paddy</option>
                        <option value="wheat">Wheat</option>
                        <option value="coffee">Coffee</option>
                        <option value="maize">Maize</option>
                        <option value="millet">Millet</option>
                        <option value="barely">Barley</option>
                        <option value="sugarcane">Sugarcane</option>
                        <option value="tobacco">Tobacco</option>
                        <option value="Others">Others</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
      <div class="panel-footer">
        <button type="button" class="btn btn-primary btnPrevious">Back</button>
        <button type="button" class="btn btn-primary" style="float: right;">Save</button>
      </div>
   </div>
</div>
