<div id="tab3" class="tab-pane fade">
	<div class="panel panel-primary" >
		   <!--Permanent Adress Panel Start -->
		<div class="panel-body">
			<h4>Permanent Address (स्थायी ठेगाना)</h4>   				 	
			<div class="form-group">
				 <div class="col-md-3"><label for="lzone">Zone *</label><select name="zone" class="form-control beta">
            		<option value="B">Bagmati</option>
           			<option value="N">Narayani</option>
           			<option value="N">Janakpur</option>
       				</select></div>	       					
				 <div class="col-md-3"><label for="lDistrict">District (जिल्ला)*</label><select name="district" class="form-control beta">
            		<option value="K">Kathmandu</option>
           			<option value="B">Bhaktapur</option>
           			<option value="L">Lalitpur</option>
       				</select></div>       				
				<div class="col-md-3"><label for="lMunicipalityVdc">Municipality/VDC (न.पा/गा.वि.स.)*</label>
				<input type="text" class="form-control" placeholder="Municipality/Zone"> </div>				 					 <div class="col-md-3"><label for="lWard No.">Ward No.(वडा नं ) *</label><input type="text" class="form-control" placeholder="Ward No."> </div>	
				 				 				
				 <div class="col-md-3"><label for="lHouseNo">House No.(घर नं. ) </label><input type="text" class="form-control" placeholder="House No."></div>				 					 		
				 <div class="col-md-3"><label for="lStreet">Street/Tole (टोल )*</label><input type="text" class="form-control" placeholder="Street No"></div>					 	 			 
				 <div class="col-md-3"><label for="ltelno">Tel.No.(फोन नं) </label><input type="text" class="form-control" placeholder="Telephone No"></div>				 	
				<div class="col-md-3"><label for="P.Box.No">P.Box. No.</label><input type="text" class="form-control" placeholder="Post Box. No."></div>	
			</div>	
		</div>
	<!--permanent Adress Panel Ending -->

		<!--Temporary Adress Panel Start -->
	    <div class="panel-body"> 
		   <h4 >Temporary Address</h4>
			<div class="form-group">		
				
				 <div class="col-md-3"><label for="lzone">Zone *</label><select name="zone" class="form-control beta">
            				<option value="B">Bagmati</option>
           					<option value="N">Narayani</option>
           					<option value="N">Janakpur</option>
       					 </select></div>       					
				 <div class="col-md-3"><label for="lDistrict">District (जिल्ला) *</label><select name="district" class="form-control beta">
            				<option value="K">Kathmandu</option>
           					<option value="B">Bhaktapur</option>
           					<option value="L">Lalitpur</option>
       					 </select></div>       				
				 	 <div class="col-md-3"><label for="lMunicipalityVdc">Municipality/VDC (न.पा/गा.वि.स.)*</label><input type="text" class="form-control" placeholder="Municipality/Zone"></div>
				 	 <div class="col-md-3"><label for="lWard No.">Ward No.(वडा नं ) *</label><input type="text" class="form-control" placeholder="Ward No."></div>					 	

				 	 <div class="col-md-3"><label for="lHouseNo">House No.(घर नं. ) </label><input type="text" class="form-control" placeholder="House No."></div>				 		
				 	 <div class="col-md-3"><label for="lStreet">Street/Tole (टोल ) *</label><input type="text" class="form-control" placeholder="Street"></div>				 	
				 	 <div class="col-md-3"><label for="ltelno">Tel.No.(फोन नं) </label><input type="text" class="form-control" placeholder="Telephone No."></div>				 		
				 	<div class="col-md-3"><label for="P.Box.No">P.Box. No.</label><input type="text" class="form-control" placeholder="Post Box No."></div>			 
			</div>
			</div>
			<!--Temporary Adress Panel Ending-->

			<!--Maiti Adress Panel Start -->
		<div class="panel-body"> 
			<h4 >Maiti Address</h4>
			<div class="form-group">					
				 <div class="col-md-3"><label for="lzone">Zone *</label><select name="zone" class="form-control beta">
            				<option value="B">Bagmati</option>
           					<option value="N">Narayani</option>
           					<option value="N">Janakpur</option>
       					 </select></div>       					
				 	 <div class="col-md-3"><label for="lDistrict">District (जिल्ला)*</label><select name="district" class="form-control beta">
            				<option value="K">Kathmandu</option>
           					<option value="B">Bhaktapur</option>
           					<option value="L">Lalitpur</option>
       					 </select></div>       				
				 	 <div class="col-md-3"><label for="lMunicipalityVdc">Municipality/VDC (न.पा/गा.वि.स.)*</label><input type="text" class="form-control" placeholder="Municipality/Zone"></div>
				 	 <div class="col-md-3"><label for="lWard No.">Ward No.(वडा नं) *</label><input type="text" class="form-control" placeholder="Ward No"></div>	

				 	 <div class="col-md-3"><label for="lHouseNo">House No.(घर नं. )</label><input type="text" class="form-control" placeholder="Houseno"></div>				 		
				 	 <div class="col-md-3"><label for="lStreet">Street/Tole (टोल )*</label><input type="text" class="form-control" placeholder="Street No."></div>				 	
				 	 <div class="col-md-3"><label for="ltelno">Tel.No.(फोन नं)</label><input type="text" class="form-control" placeholder="Telephone No."></div>				 	
				 	<div class="col-md-3"><label for="P.Box.No">P.Box.No.</label><input type="text" class="form-control" placeholder="Post Box No."></div>				 
			</div>
		</div><!--Maiti Adress Panel Ending -->

			<div class="panel-footer">
				<button type="button" class="btn btn-primary btnPrevious">Back</button>
				<button type="button" class="btn btn-primary btnNext" style="float: right;">Next</button>
			</div>
    </div>
</div>