<div id="tab7" class="tab-pane fade">
   <div class="panel panel-primary" >
      <div class="panel-body">
        <div class="form-group">
          <table class="table table-bordered">
              <thead >
                  <tr>
                      <th>S.N.</th>
                      <th>Category</th>
                      <th>Number Count</th>
                      <th>Total Value</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td>Cow</td>
                      <td><div class="col-md-5"><input type="text" class="form-control"></div></td>
                      <td><div class="col-md-5"><input type="text" class="form-control"></div></td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>Buffaloes</td>
                      <td><div class="col-md-5"><input type="text" class="form-control"></div></td>
                      <td><div class="col-md-5"><input type="text" class="form-control"></div></td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td>Ox</td>
                      <td><div class="col-md-5"><input type="text" class="form-control"></div></td>
                      <td><div class="col-md-5"><input type="text" class="form-control"></div></td>
                  </tr>

                    <tr>
                      <td>4</td>
                      <td>Goat</td>
                      <td><div class="col-md-5"><input type="text" class="form-control"></div></td>
                      <td><div class="col-md-5"><input type="text" class="form-control"></div></td>
                  </tr>

                    <tr>
                      <td>5</td>
                      <td>Pig</td>
                      <td><div class="col-md-5"><input type="text" class="form-control"></div></td>
                      <td><div class="col-md-5"><input type="text" class="form-control"></div></td>
                  </tr>

                    <tr>
                      <td>6</td>
                      <td>Sheep</td>
                      <td><div class="col-md-5"><input type="text" class="form-control"></div></td>
                      <td><div class="col-md-5"><input type="text" class="form-control"></div></td>
                  </tr>

                    <tr>
                      <td>7</td>
                      <td>Duck</td>
                      <td><div class="col-md-5"><input type="text" class="form-control"></div></td>
                      <td><div class="col-md-5"><input type="text" class="form-control"></div></td>
                  </tr>

                    <tr>
                      <td>8</td>
                      <td>Hen</td>
                      <td><div class="col-md-5"><input type="text" class="form-control"></div></td>
                      <td><div class="col-md-5"><input type="text" class="form-control"></div></td>
                  </tr>

                    <tr>
                      <td>9</td>
                      <td>Fowl</td>
                      <td><div class="col-md-5"><input type="text" class="form-control"></div></td>
                      <td><div class="col-md-5"><input type="text" class="form-control"></div></td>
                  </tr>

                    <tr>
                      <td>10</td>
                      <td>Others</td>
                      <td><div class="col-md-5"><input type="text" class="form-control"></div></td>
                      <td><div class="col-md-5"><input type="text" class="form-control"></div></td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
      <div class="panel-footer">
        <button type="button" class="btn btn-primary btnPrevious">Back</button>
        <button type="button" class="btn btn-primary btnNext" style="float: right;">Next</button>
      </div>
   </div>
</div>
