<div id="tab1" class="tab-pane fade in active">
  <div class="panel panel-primary" >
    <div class="panel-body" >
       <div class="btn-group">
        <button type = "button" class = "btn btn-default dropdown-toggle" data-toggle = "dropdown">
        Branch
        <span class = "caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Area Ghataghar</a></li>
          <li><a href="#">Nagarkot</a></li>
          <li><a href="#">Thimi</a></li>
      </ul>
       </div>
       <hr>
       <div class="form-group">
           <div class="col-md-3"><label>Center Code</label><input type="text" class="form-control" id="centercode" placeholder=""></div>
         <div class="col-md-3"><label>Center Name</label><input type="text" class="form-control" id="cetnername" placeholder=""></div>
           <div class="col-md-3"><label>Group Code</label><input type="text" class="form-control" id="groupcode" placeholder=""></div>
         <div class="col-md-3"><label>Member Code</label><input type="text" class="form-control" id="membercode" placeholder=""></div>
      </div>
   </div>
     <div class="panel-footer" style="height:60px">
      <button id="next1" type="button" class="btn btn-primary btnNext" style="float: right;">Next</button>
     </div>
  </div>
   </div>
