<div  class="panel panel-primary">
  <ul class="nav nav-pills">
    <li class="active"><a href="#tab1">Branch/Center Info</a></li>
    <li><a href="#tab2">Personal Info</a></li>
    <li><a href="#tab3">Address</a></li>
    <li><a href="#tab4">Family Description</a></li>
    <li><a href="#tab5">Income/Expense Details</a></li>
    <li><a href="#tab6">House Details</a></li>
    <li><a href="#tab7">Livestock Details</a></li>
    <li><a href="#tab8">Land Details</a></li>
  </ul>
</div> <!-- end panel panel-primary -->
