{% extends 'base.html' %}
{% block form %}
<form  method="POST">{% csrf_token %}
{{ form.non_field_errors }} <!-- all forms error -->

	<div class="container">
    <!-- Form header -->
		{% include 'kycform/_form_header.html' %}
		<!-- end form header -->

		<div class="tab-content">
			<!--Tab1 Start Branch/Center Info-->
				{% include 'kycform/_form_branch_info.html' %}
			<!--Tab1 ending Branch/Center Info-->


			<!-- Tab2 start Personal info-->
				{% include 'kycform/_form_personal_info.html' %}
			<!-- Tab2 end -->

			<!--Tab3 Start  Address Details-->
				{% include 'kycform/_form_address_info.html' %}
			<!--Tab3 End -->

    	<!--Tab4 Start Family description-->
				{% include 'kycform/_form_family_info.html' %}
			<!--Tab4 End -->

			<!--Tab5 Start Income/Expense -->
				{% include 'kycform/_form_income_expense_detail.html'%}
			<!--Tab5 End -->

			<!--Tab6 Start House detail-->
				{% include 'kycform/_form_house_detail.html'%}
			<!--Tab6 End house detail -->

			<!--Tab7 Start -->
				{% include 'kycform/_form_livestock.html'%}
			<!--Tab7 End -->

			<!--Tab8 Start -->
				{% include 'kycform/_form_land_details.html'%}
			<!--Tab8 End -->
	<input type="submit" name="name" value="Submit">
		</div> <!--Tab content  End -->
	</div><!-- container end -->
</form>
{% endblock form %}
